@import '../../variables.scss';

:host {
  display: flex;
  justify-content: space-around;
  border-right: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  padding: 1rem 0;
  border-image-source: linear-gradient(to left, #00000000, $green, #00000000);
}

:host:nth-of-type(2n) {
  flex-direction: row-reverse;
}

@media (max-width: 800px) {
  :host {
    flex-direction: column;
  }
  :host:nth-of-type(2n) {
    flex-direction: column;
  }
}
