@import "../variables.scss";

$v-size: 1rem;

:host {
  margin-top: $v-size;
  margin-bottom: $v-size;
}

a {
  border: 1px solid $green;
  color: $green;
  padding: $v-size 3rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  white-space: nowrap;
}
a:hover {
  background-color: $green;
  color: white;
}
