<footer>
  <div>
    <ul>
      <li>Atencion al cliente: +57 311 501 9158</li>
      <li>Linea fija: +57 601 752 3313</li>
      <li>gerencia&#64;coonadoc.co</li>
      <li>servicioalclientecoonadoc&#64;gmail.com</li>
      <li>Bogotá - Colombia, Cra. 16 # 30 - 63</li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a [routerLink]="routes['home']" routerLinkActive="active-page">Inicio</a></li>
      <li><a [routerLink]="routes['about']" routerLinkActive="active-page">Sobre nosotros</a></li>
      <li><a [routerLink]="routes['news']" routerLinkActive="active-page">Noticias</a></li>
      <li><a [routerLink]="routes['support']" routerLinkActive="active-page">Soporte</a></li>
      <li><a [routerLink]="routes['services']" routerLinkActive="active-page">Servicios</a></li>
    </ul>
  </div>
</footer>
