@import "variables.scss";

footer {
  padding: 2.5rem 0 1.5rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #0a0a0a;
  border-top: 1px solid $on-tertiary;
}

li {
  list-style: none;
  padding: 0.2rem 0;
}
a, li {
  color: $on-tertiary;
  text-align: center;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted $on-tertiary;
}
a:hover {
  color: white;
  border-bottom: 1px solid white;
}

@media (max-width: 500px) {
  footer {
    flex-direction: column;
  }
}
